html, body, .todo {
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}

#app{
    width: 600px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

ul>li:hover {
    background-color: #F5F5F5;
}

.todo {
    list-style-type: none;
}

.todo__input, .todo__item {
    margin: 0px;
}

.todo__item--done {
    color: red;
    text-decoration: line-through;
}

#formList{
    padding: 10px 0px;
}
#todoInput{
    width: 550px;
}